header {
  background-color: hsl(198, 100%, 37%);
  border-bottom: solid 0.1rem hsla(198, 100%, 37%, 25%);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between; 
  z-index: 1;
}

#logo {
  height: 100%;
  margin-left: 1em ;
}

#navbar {
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  align-content: center;
  gap: 1rem;
}

.navbutton {
  background-color: hsl(198, 100%, 37%);
  color: whitesmoke;
  border: 0px;
  border-radius: 0.2rem;
  padding-inline: 0.5rem;
  padding-bottom: 0.1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;
}

.navbutton:hover {
  background-color: hsl(198, 100%, 37%);
  color: white;
  /* scale: 1.05; */
}

.navbutton.current {
  color: rgb(255, 230, 161);
}
