@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;700&family=Ubuntu:ital@1&display=swap');

body{
    background-color: aliceblue;
}

.card{
    display: grid;
    grid-template-columns: 45fr 45fr;
}

.cardHome{
    /*box-shadow:
    inset 0 -1em 1em rgba(63, 62, 62, 0.059),
          0.1em 0.1em 1em rgba(85, 84, 84, 0.159);*/
    border-radius: 14px;
    background-color: white;
    box-sizing: border-box;
    margin: 0.5em;
    display: grid;
    justify-items: center;
    text-align: center;
    border: 1px solid  rgba(225, 225, 225, 0.651);
    font-family: 'Exo', sans-serif;
    
    
}

.imgHome{
    width: 50%;
}
