@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;700&family=Ubuntu:ital@1&display=swap');

body{
    background-color: rgb(255, 255, 255);
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.titulo{
    position:absolute;
    margin-left: 5%;
    margin-top: 10%;
    color: rgb(32, 28, 28);
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
}

.arrow{
    width: 5%;
    margin-left: 50%;
    margin-top: 5%;
}

.card{
    margin-top: 5%;
    font-family: 'Exo', sans-serif;
    display: grid;
    grid-template-columns: 45fr 45fr;
}

.cardHome{
    opacity: 0.9;
    /*box-shadow:
    inset 0 -1em 1em rgba(63, 62, 62, 0.059),
    0.1em 0.1em 1em rgba(85, 84, 84, 0.159);*/
    border-radius: 14px;
    background-color: white;
    box-sizing: border-box;
    margin: 0.5em;
    display: grid;
    justify-self: center;
    text-align: center;  
    border: 1px solid  rgba(225, 225, 225, 0.651);   
    width: 85%; 
}

.cardHome:hover{
    box-shadow:
    inset 0 -1em 1em rgba(63, 62, 62, 0.115),
          0.1em 0.1em 1em rgba(85, 84, 84, 0.235);
}

.imgHome{
    width: 50%;
}

.video {
    position: relative;
    left: 4px;
    right: 14px;
    top: 0;
    height:135%;
    z-index: -1;
  }
