body{
    background-color: aliceblue;
}

.card{
    display: grid;
    grid-template-columns: 45fr 45fr;
}

.cardHome{
    box-shadow:
    inset 0 -1em 1em rgba(63, 62, 62, 0.059),
          0.1em 0.1em 1em rgba(85, 84, 84, 0.159);
    border-radius: 14px;
    background-color: white;
    box-sizing: border-box;
    margin: 0.5em;
    display: grid;
    justify-items: center;
    text-align: center;
    border: 1px solid  rgba(225, 225, 225, 0.651);
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.imgHome{
    width: 50%;
}

